body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgb(190, 188, 188);
}

/** START CSS FOR NAV **/
#logo-ting {
    font: x-large;
    background-color: forestgreen;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li:hover {
    background-color: #111;
}

/** START CSS FOR OFFER **/


#wrap-cuck {
  text-align:center;

}

#incoming-offer {
  width: 300px;
  padding: 20px;
}

.incoming-offer-info {
  text-align: center;
  background-color: lightseagreen;
  width: 100%;
  border: 2px solid black;
  border-radius: 2px;
}

#incoming-offer input {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: grey;
  transition: 0.3s;
}

#incoming-offers-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center;
}



/** START CSS FOR CREDENTIAL **/
.credential {
    padding-left: 15px;
    background-color: lightseagreen;
    width: 300px;
    border: 3px solid black;
    border-radius: 6px;
    margin: 5px;
}

#credentials-list {
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  justify-content: center;
}

#credential-page-wrap {
  text-align: center;
}

/** START CSS FOR LOG-IN **/
.log-in-prompt {
    text-align: center;
    position: fixed;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
}

.log-in-prompt input {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}

.btn {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  outline: 0;
  border: 0;
  color: white;
  background: grey;
  transition: 0.3s;
}

/** START CSS MAKING REQUEST **/
.request-form {
  text-align: center;
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 75px;
  border-radius: 6px;
  overflow: hidden;
}

.request-form input {
  display: block;
  width: 100%;
  padding: 20px;
  -webkit-appearance: none;
  border: 0;
  outline: 0;
}


/** snackbar**/
#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 2px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
  }

  .inkomendRequest{
    border: 5px solid black;
  }
  
  #snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
  }
  
  @-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }
